* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  color: #314155;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info .icon {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: #314155;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.field-container {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}

.contact-form .text-box {
  background: #314155;
  color: #f0ecec;
  border: none;
  width: 100%;
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  opacity: 0.9;
}

.contact-form textarea {
  background: #314155;
  color: #f0ecec;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-form .send-btn {
  float: right;
  background: #314155;
  color: #f0ecec;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover {
  background: blue;
}

.input-feedback {
  color: #e74c3c;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

@media screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column-reverse;
  }

  .contact-info,
  .contact-form {
    margin: 30px 50px;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form .text-box {
    width: 100%;
  }

  .input-row {
    flex-direction: column;
  }

  .field-container {
    width: 100%;
  }
}

/*css for alert messages*/

.alert-success {
  z-index: 1;
  background: #d4edda;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #3ad66e;
  border-radius: 4px;
}

.alert-error {
  z-index: 1;
  background: #fff3cd;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #ffa502;
  border-radius: 4px;
}