footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #f0ecec;
    padding: 60px 10%;

}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    text-transform: capitalize;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 60px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #5c5858;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    padding-left: 2px;
    color: #473e3e;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: #f0ecec;
    background-color: rgba(33, 33, 33, 0.8);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a .icons{
    margin: 10px auto;
}

.links a:hover{
    color: white;
    background-color: blue;
}

@media(max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}
@media(max-width: 640px) {
    .copyright{
        font-size: 18px !important;
        padding: 20px 0;
    }
}

@media(max-width: 555px) {
    .footer-col{
        width: 100%;

    }
}

.copyright {
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #333;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }